<form>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select Language</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>English</option>
      <option>German</option>
    </select>
  <div>
    <label for="exampleFormControlTextarea1">Add word here</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
    <div>
      <label for="exampleFormControlTextarea2">Add meaning here</label>
    </div>
      <textarea class="form-control" id="exampleFormControlTextarea2" rows="1"></textarea>
    <button type="submit" class="btn btn-primary">Add</button>
  </div>

</form>